* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: #f0f8ff;
    cursor: url(circle.png) 10 10, auto;
}

#canvas1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #1a2532 0%, #090A0F 100%);
}